<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Input</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color:rgb(191, 208, 225);text-align:center">
        <h3 style="font-size:3vw; color:rgb(58, 82, 105)">Input Page</h3>
        <p style="color:rgb(58, 82, 105)"> This is a text summarization tool where you can paste in your text, as well as the <br>
            degree with which you want it to be summarized. </p>
        <form action="/action_page.php">
    
        </form>
        <form method="POST">
            <label for="fname" style="color:rgb(58, 82, 105)">Text:</label>
            <input type="text" id="fname" name="text" size="20"><br><br>
            <label for="fname" style="color:rgb(58, 82, 105)">Degree:</label>
            <input type="text" id="fname" name="degree" size="20"><br><br>
            <button type="submit" style="height: 25px; width: 100px">Submit</button>
        </form>
    </body>
    
</html>

