<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Input</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color:#2F2FA2;text-align:center">
        <h1 style="font-size:6vw; color:#F64C72">Input</h1>
        <form action="/action_page.php">
          <label for="fname" style="color:#F64C72">Text:</label>
          <input type="text" id="fname" name="fname" size="20"><br><br>
        </form>
        <form method="POST">
            <button type="submit" style="height: 25px; width: 100px">Submit</button>
        </form>
    </body>
    
</html>

