<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Output</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color:rgb(191, 208, 225);">
        <h1 style = "color:rgb(58, 82, 105);text-align:center;font-size:3vw">Output</h1>
        
        <h2 style = "color:rgb(58, 82, 105);text-align:left;font-size:2vw">Summary</h2>
        <div style="border: 1px solid black">{{outputstr}}</div>
        <br>
        
        <h2 style = "color:rgb(58, 82, 105);text-align:left;font-size:2vw">Data</h2>
        <div style="border: 1px solid black">
            <table>
                <tr>
                    <th>Txt</th>
                    <th>Deg</th>
                    <th>Keywrds</th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
            </table>
        </div>
    </body>
    
</html>