<!DOCTYPE html>
<html lang="en">
    <style> table, th, td {border:1px solid black;} </style>
    <head>
        <title>Output</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color:rgb(191, 208, 225);">
        <h1 style = "color:rgb(58, 82, 105);text-align:center;font-size:3vw">Output</h1>
        
        <h2 style = "color:rgb(58, 82, 105);text-align:left;font-size:2vw">Summary</h2>
        <div style="border: 1px solid black">{{outputstr}}</div>
        <br>
        
        <h2 style = "color:rgb(58, 82, 105);text-align:left;font-size:2vw">Data</h2>
        <div style="border: 1px solid black">  
            <table style="width:100%">
                <tr>
                    <th>Text</th>
                    <th>Degree</th>
                    <th>Keywords</th>
                </tr>
                <tr>
                    <td>This Text</td>
                    <td><span class="nowrap">{{outputdeg}}</span></td>
                    <td><span class="nowrap">{{outputkey}}</span></td>
                </tr>
            </table>
        </div>
    </body>
</html>