<!-- The line below tells your system that this is an HTML file -->
<!DOCTYPE html>
<!-- Sets the language to English -->
<html lang="en">
    <!-- The head tag identifies some basic information about the page -->
    <head>
        <!-- This sets the title of the page – when you open it in a browser, the title is what will show up as the name of the tab -->
        <title>RENAME ME!</title>
        <!-- Confirms UTF-8 characters being used -->
        <meta charset="UTF-8">
        <!-- Identifies the scaling of the page -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Specifies the associated CSS file being used. Since we’re not using CSS for this assignment, I’ve commented this line out. However, in your actual project, you should properly link the CSS file -->
        <!-- <link rel="stylesheet" type="text/css" href="styling.css"/> -->
    </head>
    <!-- Signifies the start of the actual HTML page contents -->
    <body>
        <!-- A basic HTML header -->
        <h1>WRITE SOMETHING HERE!</h1>
        <!-- This is a form. This specifies that once the button is clicked, we call the POST method. More on this in the Flask document! -->
        <form method="POST">
            <!-- Our submit button! -->
            <button type="submit" style="height: 25px; width: 100px">Submit</button>
        </form>
    </body>
    
</html>

